@model IEnumerable<AppDevGCD0805.Models.User>

<h1>Training staff account</h1>
<main>

  <table class="table">
    <thead class="thead-dark">
      <tr>

        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">User Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>

          <td>@item.FullName</td>
          <td>@item.Address</td>
          <td>@item.Age</td>
          <td>@item.Email</td>
          <td>@item.UserName</td>
          <td>
            @Html.ActionLink(" Delete", "Delete", "Admins", new { Id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt" })
            @Html.ActionLink(" Edit", "EditStaff", "Admins", new { Id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit" })
            @Html.ActionLink(" Change password", "ChangePassword", "Admins", new { UserId = item.Id }, new { @class = "btn btn-outline-warning fas fa-unlock-alt" })
          </td>
        </tr>
      }
    </tbody>
  </table>
  <center><a class="nav-link btn btn-outline-primary col-3 fas fa-reply" asp-controller="Admins" asp-action="Index">   Back to previous page</a></center>
</main>

