
@model IEnumerable<AppDevGCD0805.Models.TraineeProfile>

<h1>Trainee account</h1>
<main>
    <form asp-controller="TrainingStaffs" asp-action="SearchTraineeByName" method="post">
        <div class="input-group col-md-3">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by name" aria-label="Search" name="SearchString">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <br />



    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">User Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Education</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.User.FullName</td>
                    <td>@item.User.Address</td>
                    <td>@item.User.Age</td>
                    <td>@item.User.Email</td>
                    <td>@item.User.UserName</td>
                    <td>@item.DateOfBirth.ToString("d")</td>
                    <td>@item.Education</td>
                    <td>
                        @Html.ActionLink(" Delete", "Delete", "TrainingStaffs", new { Id = item.User.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt" })
                        @Html.ActionLink(" Edit", "Edit", "TrainingStaffs", new { Id = item.User.Id }, new { @class = "btn btn-outline-info fas fa-edit" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

