@model  ICollection<AppDevGCD0805.Models.AssignTrainerCourse>
@{
  ViewBag.Title = "View Course";
}

<h2>Course</h2>

@ViewBag.user.FullName

<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
          <tr>
            <td>@Html.ActionLink(@item.Course.Name, "ViewTrainee", "Trainers", new { id = item.CourseId }, new { @class = "btn btn-success" })</td>

            <td>@item.Course.Description</td>
            <td>@item.Course.Category.Name</td>

            <td>@Html.ActionLink("Delete", "DeleteCourseTrainer", "TrainingStaffs", new { id = item.CourseId, userId = item.UserId }, new { @class = "btn btn-danger" })</td>

          </tr>
            }

        </tbody>
    </table>