@model IEnumerable<AppDevGCD0805.Models.Course>

<h1>COURSE</h1>

<main>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

    <a class="nav-link  btn btn-outline-success col-1" asp-area="" asp-controller="Courses" asp-action="Create">Create</a>

    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Description</td>
                    <td>@item.Category.Name</td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", "Courses", new { Id = item.Id }, new { @class = "btn btn-outline-danger" })
                        @Html.ActionLink("Edit", "Edit", "Courses", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                        @* @Html.ActionLink("Details", "Details", "Todos", new { id = item.Id }, new { @class = "btn btn-info" }) *@
                    </td>
                </tr>
            }

        </tbody>
    </table>
</main>