@model IEnumerable<AppDevGCD0805.Models.Category>

<h1>Category</h1>
<main>

    <a class="nav-link  btn btn-outline-success fas fa-plus " asp-area="" asp-controller="Categories" asp-action="Create"> Add new one category</a>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @Html.ActionLink(" Delete", "Delete", "Categories", new { Id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt" })
                        @Html.ActionLink(" Edit", "Edit", "Categories", new { id = item.Id }, new { @class = "btn btn-outline-info 	fas fa-edit" })
                        @* @Html.ActionLink("Details", "Details", "Todos", new { id = item.Id }, new { @class = "btn btn-info" }) *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

